.white {
    background-color: white!important;
}

.card1 {
    margin-left: 15px;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.nom {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.ant-list-item.project-list-item:hover {
    background-color: #f9f9f9;
    border-radius: 4px;
}

.card1 .ant-card-body {
    cursor: pointer !important;
}

.glow {
    transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.15); /* Adjust the glow effect */
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .floating {
    font-size: 50px; /* You can adjust the size according to your preference */
    animation: floatAnimation 1s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  }

  

  @-webkit-keyframes fly {
    0% {
      bottom: 0%;
      left: 0%;
    }
    50% {
      bottom: 50%;
      left: 50%;
    }
    100% {
      bottom: 100%;
      left: 100%;
    }
  }
  
  @keyframes fly {
    0% {
      bottom: 0%;
      left: 0%;
    }
    25% {
      bottom: 50%;
      left: 50%;
    }
    50% {
      bottom: 100%;
      left: 100%;
    }
    51% {
      rotate: -90deg;
      bottom: 0%;
      left: 100%;
    }
    75% {
      bottom: 50%;
      left: 50%;
    }
    100% {
      rotate: -45deg;
      bottom: 100%;
      left: 0%;
    }
  }
  
  #box {
    position:absolute;
    -webkit-animation: fly 6s linear 0s infinite;
      -moz-animation: fly 6s linear 0s infinite;
  }
