.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.ant-select-selection {
  background-color: green;
}

.nobg {
  background: none;
  box-shadow: none;
  border: none;
  color: white;

  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

h1 {
  line-height: 1em;
}

.message-user {
  border-radius: 8px;
  background-color: #FDF7F2;
  padding: 0.3rem 1rem;
  display: flex;
  gap: 0.5rem;
}