.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.ant-select-selection {
    background-color: green;
  }
  